table tr td{
    border: 1px solid black;
    text-align: center;
}
table {
    border-collapse: collapse;
}
p {
    font-size: 150px;
}
.cs {
    font-size: 50px;
}
.r {
    font-size: 50px;
}
.cu {
    font-size: 50px;
}
.m {
    font-size: 100px;
}
.topnav {
    background-color: rgb(55, 76, 79);
    overflow: hidden;
    width: 2700px;
    height: 115px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(35, 46, 206);
    color: rgb(255, 255, 255);
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.home {
    font-size: 200px;
}